html, body {
    height: 100%;
}
body {
    margin:0px;
    padding: 0px;
}
#SiteWide {
    background-color: rgb(87, 90, 90);
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

h1{
    color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
}

button{
    color: rgb(0, 0, 0);
    }

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

footer{
    background-color: rgb(87, 90, 90);
}

#backButton{
    color: rgb(0, 0, 0);
    margin-left: 50px;
    font-size: large;
}

/* #JobAppIndex{
}
#NewApplication{
} */

#CompanyForm{
    padding: 1em;
}

#Companies{
    background-color: #fff;
    padding: 1em;
}

#back {
    cursor:pointer;
    color:rgb(22, 155, 207);
    text-decoration:underline;
    background-color:rgb(87, 90, 90);
}

#viewEdit{
    margin: 10px;
    font-size: medium;
}

#AppList{
    margin: auto;
    margin-bottom: 16px;
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 16px;
}

#AppList > li{
    text-align: left;
    display:flex;
}

.jobP{
    margin-left: 8px;
}
#DeleteBtn {
    background-color: #b92121;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    padding: 4px 12px;
}

#DeleteBtn:hover{
    background-color: darkblue;
} 

form {
    width: 80%;
    margin: 0 auto;
  }
  
  label,
  input {
    display: inline-block;
  }
  
  label {
    width: 30%;
    text-align: right;
  }
  
  label+input {
    width: 30%;
 
    margin: 0 30% 0 4%;
  }

  footer{
      text-align: center;
  }

