html,
body {
    height: 100%;
    width: 100%;
}

#SiteWide {
    background-color: #1a1a1a;
}

h1,
h2 {
    color: #fff;
}

#Title{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

.subTitle{
    font-size: 24px;
    text-align: center;
}

.companyName{
    color: #fff;
    text-align: center;
    margin-right: 8px;
}

.companySubmit{
    background-color: #084b99;
    color: #fff;
    border-radius: 8px;
    margin-left: 8px;
}

#CompanyForm{
    display:flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#FormContainer{
    text-align:  center;
    margin: 12px;
}

#Companies{
    background-color: #fff;
    padding: 1em;
}

    #DeleteCompanyBtn{
        background-color: #2c1b1b;
        font-size: large;
        float: right;
        color: white;
        border-radius: 8px;
        padding: 4px 12px;
    }

#Back {
    cursor:pointer;
    color: #1c7ff1;
    text-decoration:underline;
    background-color:#1a1a1a;
    font-size: 24px;

}

#ViewEdit{
    margin: 10px;
    font-size: medium;
}

#AppList{
    margin: auto;
    margin-bottom: 16px;
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 16px;
}

#AppList > li{
    text-align: left;
    display:flex;
}

    #CompanyTitle{
        color: #1a1a1a;
    }

    .jobP{
        margin-left: 8px;
    }


#DeleteBtn {
    background-color: #2c1b1b;
    float: right;
    color: white;
    border-radius: 8px;
    padding: 4px 12px;
}


#EditBtn {
    background-color: #2c1b1b;
    color: white;
    border-radius: 8px;
    padding: 4px 12px;
}

#EditBtn:hover,
#ApplicationSubmit:hover{
    background-color: #084b99;
}

#DeleteBtn:hover,
#DeleteCompanyBtn:hover{
    background-color: #b80c06;
} 

#ViewEdit{
    background-color: #2c1b1b;
    color: white;
    margin-top: 20px;
    border-radius: 8px;
    padding: 4px 12px;
}

#AppHeadline{
    color: #1a1a1a;
}
#AppplicationUpdate{
    color: #fff;
    display: inline-block;
    text-align: right;
}

#ApplicationSubmit{
    background-color: #2c1b1b;
    color: white;
    border-radius: 8px;
    padding: 4px 12px;
}

#NewApplication{
    text-align: center;
    padding: 12px;
}

#ApplicationForm{
    color: #fff;
    display: inline-block;
    text-align: right;
}

    #ApplicationSubmit{
        background-color: #2c1b1b;
        color: white;
        border-radius: 8px;
        padding: 4px 12px;
    }

footer{
    text-align: center;
    background-color: #084b99;
    color: #fff;
    padding: 8px;
}

